// "Reset" styles and SCSS reusable components
@import "normalize";
@import "mixins";
@import "variables";

// Generic site base & layout styles
@import "base";
@import "layout";

// Layouts
@import "resume";

// Hero section spacing
.page-header {
  padding-top: 25vh;
  text-align: center;
}

.page-header .avatar {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.page-header .header-name {
  font-size: 3rem;
}

.page-header .header-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.page-header .social-links a {
  margin: 0 0.5rem;
}

.page-header .contact-button {
  margin-top: 1rem;
}
